<?xml version="1.0"?>
<config>
    <modules>
        <Mageme_PostSubmission>
            <version>0.1.0</version>
        </Mageme_PostSubmission>
    </modules>
    <global>
        <models>
            <mageme_postsubmission>
                <class>Mageme_PostSubmission_Model</class>
            </mageme_postsubmission>
        </models>
        <events>
            <webforms_result_submit>
                <observers>
                    <postsubmission_observer>
                        <type>singleton</type>
                        <class>Mageme_PostSubmission_Model_Observer</class>
                        <method>postSubmission</method>
                    </postsubmission_observer>
                </observers>
            </webforms_result_submit>
        </events>
    </global>
</config>